/* The code below makes the background of the header black and the font color of the title white. Change this to match what you want for your website. */
header {
    background-color: black;
    color: white;
    padding: 64px 16px;
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: black;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover {
    background-color: white;
    color: black;
}
/* The code below makes the background of the footer black and the font color of the text white. Change this to match what you want for your website. */
footer {
    background-color: black;
    color: white;
    padding: 16px;
    text-align: center;
}
.contact-space {
    background-color: black;
    color: white;
    padding: 4px 4px;
    margin-top: 4px;
    font-size: 30px;
}
.contact-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: .4rem;
}
a.contact-link {
    color: white;
    text-decoration: none;
    margin-bottom: 4px;
    line-height: 0.3em;
    font-size: 30px;
}
a.contact-link:hover {
    text-decoration: underline;
    animation: myAnimation;
    animation-duration: 450s;

}
@keyframes myAnimation {
  0%   {color: rgb(214, 214, 214); font-size: 30px;}
  0.003%  {color: rgb(213, 213, 213); font-size: 30.125px; line-height: 0.4em;}
  0.006%  {color: rgb(212, 212, 212); font-size: 30.25px;}
  0.009%  {color: rgb(211, 211, 211); font-size: 30.375px;}
  0.012%  {color: rgb(210, 210, 210); font-size: 30.5px; line-height: 0.5em;}
  0.015%  {color: rgb(208, 208, 208); font-size: 30.625px;}
  0.018%  {color: rgb(206, 206, 206); font-size: 30.75px;}
  0.021%  {color: rgb(204, 204, 204); font-size: 30.875px; line-height: 0.6em;}
  0.024%   {color: rgb(203, 203, 203); font-size: 31px;}
  0.0027%  {color: rgb(202, 202, 202); font-size: 31.125px;}
  0.03%  {color: #A8A8A8; font-size: 34px;}
  50%  {color: #A8A8A8; font-size: 34px;}
  100% {color: #A8A8A8; font-size: 34px;}
}