/* The code below makes the background of the header black and the font color of the title white. Change this to match what you want for your website. */
.header1 {
    background-color: #A106BC;
    color: #9BF98A;
    padding: 64px 16px;
}
.header2 {
    background-color: #9BF98A;
    color: #A106BC;
    padding: 64px 16px;
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: #9BF98A;
}
.navbar a {
    color: #A106BC;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover {
    background-color: #A106BC;
    color: #9BF98A;
}
.navbar2 {
    display: flex;
    justify-content: center;
    background-color: #A106BC;
}
.navbar2 a {
    color: #9BF98A;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar2 a:hover {
    background-color: #9BF98A;
    color: #A106BC;
}

.nav-link{
    font-size: 30px;
}
/* The code below makes the background of the footer black and the font color of the text white. Change this to match what you want for your website. */
footer {
    background-color: black;
    color: black;
    padding: 16px;
    text-align: center;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.category-title {
    font-weight: bold;
    font-size: 14px;
    color: black;
    margin-bottom: 6px;
}

.skill {
    font-size: 13px;
    color: #333;
    padding-left: 10px;
}
.container{
    margin: 20px auto;
    width:1600px;
    height:800px;
    background-color:black;
    display:grid;
    grid-template-columns: 800px 800px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.b1, .b3, .b5, .b7{
    background-color:#9BF98A;
    padding:20px;
    border-radius:10px;
    color:#A106BC;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
}
.b2, .b4, .b6, .b8{
    background-color:#A106BC;
    padding:10px;
    border-radius:10px;
    color:#9BF98A;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:32px;
}
.b1:hover, .b3:hover, .b5:hover, .b7:hover{
    color: #9BF98A;
    background-color: #A106BC;
}
.b2:hover, .b4:hover, .b6:hover, .b8:hover{
    color:#A106BC;
    background-color: #9BF98A;
}