/* HEADER and BODY */
h1 {
    text-align:center;
    margin:5px;
    color: #A8C38C;
    font-size: 50px;
}
h2 {
    text-align:center;
    margin:5px;
    color: #A8C38C;
    font-size: 30px;
}
body {
    background-color:#4F3B34;
}
/* IMAGES */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:400px;
}
.glasses {
    position: fixed;
    top: 770px;
    right: 22px;
    width: 100px;
    cursor: pointer;
    border-radius: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.circle {
    position: fixed;
    top: 710px;
    right: 0.5px;
    width: 150px;
    cursor: pointer;
}

/* SECTIONS */
.section-container {
    display:flex;
    justify-content:space-between;
}
.section {
    border: 5px #A8C38C solid;
    margin:5px;
    color: #A8C38C;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    background-color: #594e4a;
}
.section:hover {
  background-color:#594e4a;
  font-size: 28px;
  size: 28px;
}
/* LINKS */
.Link {
    color: #b2e2f0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.Link:hover {
  background-color:#5c5755;
  font-size: 23px;
  animation-name: myAnimation;
  animation-duration: 2s;
}
/* LANGUAGE STUFF */
.navbar {
    position: fixed;
    font-size: 30px;
    color: #A8C38C;
}
.Lang {
    color: #A8C38C;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.Lang:hover {
  background-color:#594e4a;
  font-size: 23px;
  animation-name: myAnimation;
  animation-duration: 3s;
}
/* FOOTER */
.footer {
    font-size: 30px;
    color: #A8C38C;
    text-align: center;
}

/* ANIMATION */
@keyframes myAnimation {
  from {font-size: 23px;}
  to {font-size: 33px;}
}